NET "dataline<0>" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dataline<1>" LOC = P31 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dataline<2>" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dataline<3>" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dataline<4>" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dataline<5>" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "dataline<6>" LOC = P36 | IOSTANDARD = LVTTL | PULLDOWN;

