# PULLDOWN for io to prevent floating inputs

NET "p1moveUp" LOC = P57;
NET "p1moveUp" IOSTANDARD = LVTTL;
NET "p1moveUp" PULLDOWN;
NET "p1moveDown" LOC = P58;
NET "p1moveDown" IOSTANDARD = LVTTL;
NET "p1moveDown" PULLDOWN;
NET "p1moveLeft" LOC = P66;
NET "p1moveLeft" IOSTANDARD = LVTTL;
NET "p1moveLeft" PULLDOWN;
NET "p1moveRight" LOC = P67;
NET "p1moveRight" IOSTANDARD = LVTTL;
NET "p1moveRight" PULLDOWN;
NET "p1fireUp" LOC = P74;
NET "p1fireUp" IOSTANDARD = LVTTL;
NET "p1fireUp" PULLDOWN;
NET "p1fireDown" LOC = P75;
NET "p1fireDown" IOSTANDARD = LVTTL;
NET "p1fireDown" PULLDOWN;
NET "p1fireLeft" LOC = P78;
NET "p1fireLeft" IOSTANDARD = LVTTL;
NET "p1fireLeft" PULLDOWN;
NET "p1fireRight" LOC = P79;
NET "p1fireRight" IOSTANDARD = LVTTL;
NET "p1fireRight" PULLDOWN;

NET "p2moveUp" LOC = P99;
NET "p2moveUp" IOSTANDARD = LVTTL;
NET "p2moveUp" PULLDOWN;
NET "p2moveDown" LOC = P100;
NET "p2moveDown" IOSTANDARD = LVTTL;
NET "p2moveDown" PULLDOWN;
NET "p2moveLeft" LOC = P101;
NET "p2moveLeft" IOSTANDARD = LVTTL;
NET "p2moveLeft" PULLDOWN;
NET "p2moveRight" LOC = P102;
NET "p2moveRight" IOSTANDARD = LVTTL;
NET "p2moveRight" PULLDOWN;
NET "p2fireUp" LOC = P104;
NET "p2fireUp" IOSTANDARD = LVTTL;
NET "p2fireUp" PULLDOWN;
NET "p2fireDown" LOC = P105;
NET "p2fireDown" IOSTANDARD = LVTTL;
NET "p2fireDown" PULLDOWN;
NET "p2fireLeft" LOC = P111;
NET "p2fireLeft" IOSTANDARD = LVTTL;
NET "p2fireLeft" PULLDOWN;
NET "p2fireRight" LOC = P112;
NET "p2fireRight" IOSTANDARD = LVTTL;
NET "p2fireRight" PULLDOWN;
