# PULLDOWN for io to prevent floating inputs

NET "p1moveUp" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1moveDown" LOC = P58 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1moveLeft" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1moveRight" LOC = P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1fireUp" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1fireDown" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1fireLeft" LOC = P78 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p1fireRight" LOC = P79 | IOSTANDARD = LVTTL | PULLDOWN;

NET "p2moveUp" LOC = P99 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2moveDown" LOC = P100 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2moveLeft" LOC = P101 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2moveRight" LOC = P102 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2fireUp" LOC = P104 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2fireDown" LOC = P105 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2fireLeft" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN;
NET "p2fireRight" LOC = P112 | IOSTANDARD = LVTTL | PULLDOWN;